@model PharmacyCore.ViewModels.LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="top-buffer"></div>
            <div class="panel panel-primary">
                <div class="panel-heading">Zaloguj sie</div>
                <div class="panel-body">
                    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                    {
                        <h4>Wprowadz nazwe urzytkownika i haslo</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.LoginDto.Name):
                                @Html.TextBoxFor(m => m.LoginDto.Name, new { style = "display:inline;", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.LoginDto.Password):
                                @Html.TextBoxFor(m => m.LoginDto.Password, new { style = "display:inline; margin-left: 6px;", @class = "form-control", @type = "password" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary" value="Zaloguj sie!" />
                                <a href="/Login/CreateUser">
                                    <input type="button" class="btn btn-success" value="Załóż konto !" />
                                </a>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
        @if (ViewBag.Error != null)
            {
            <h2 style="color:red">@ViewBag.Error</h2>
        }
    </div>
</body>
</html>