@model PharmacyCore.ViewModels.InformationSellerViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <h2>Wykaz leków</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Street)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.PhoneNumber)
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        @Html.DisplayFor(m => m.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.City)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.PhoneNumber)
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</body>
</html>