@model IEnumerable<PharmacyCore.ViewModels.AdminViewModel>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/Admin/CreateUser">
                    <input type="button" class="btn btn-primary" value="Dodaj uzytkownika !" />
                </a>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Login)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Street)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Role)
                    </th>
                    <th>
                        @Html.DisplayName("Akcja")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Login)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Street)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Role)
                        </td>
                        <td>
                            <a asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@item.Id" class="btn btn-danger"> Usuń</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>